.grid-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(25, 1fr);
    background-color:#262020;
    grid-gap: 15px;
    height: 98vh;
    width: 100%;
    grid-template-areas:
    "header header header header header header header"
    "header header header header header header header"
    ". . . . . . ."
      ". Slide Slide Slide Slide Slide ."
      ". Slide Slide Slide Slide Slide ."
      ". playermusical playermusical playermusical playermusical playermusical ."
      ". . . . . . ."
      ". . . . . . ."
      ". Jeu1 Jeu1 Jeu2 Jeu2 . ."
      ". Jeu1 Jeu1 Jeu2 Jeu2 Foire-au-jeu Foire-au-jeu"
      ". Jeu1 Jeu1 Jeu2 Jeu2 Foire-au-jeu Foire-au-jeu"
      ". Jeu1 Jeu1 Jeu2 Jeu2 Foire-au-jeu Foire-au-jeu"
      ". Jeu3 Jeu3 Jeu3 Jeu3 Foire-au-jeu Foire-au-jeu"
      ". Jeu3 Jeu3 Jeu3 Jeu3 Foire-au-jeu Foire-au-jeu"
      ". Jeu3 Jeu3 Jeu3 Jeu3 Foire-au-jeu Foire-au-jeu"
      ". Jeu4 Jeu4 Jeu5 Jeu5 . ."
      ". Jeu4 Jeu4 Jeu5 Jeu5 . ."
      ". Jeu4 Jeu4 Jeu5 Jeu5 . ."
      ". . . . . . ."
      ". profil1 . profil2 . profil3 ."
      ". profil1 . profil2 . profil3 ."
      ". profil1 . profil2 . profil3 ."
      ". profil1 . profil2 . profil3 ."
      ". profil1 . profil2 . profil3 ."
      ". . . . . . ."
      ". . . . . . ."
      "footer footer footer footer footer footer footer"
      "footer footer footer footer footer footer footer"
     ;
  }
  .Slide { 
      background-color: #50514F;
       grid-area: Slide; }
  .Jeu1 {
    
   
    background-color: #50514F; 
    grid-area: Jeu1; }
  
    .Jeu2 { background-color: #50514F;
    
      grid-area: Jeu2; }
  .Jeu3 { background-color: #50514F;
      grid-area: Jeu3; }
  .Jeu4 { background-color: #50514F; 
      grid-area: Jeu4; }
  .Jeu5 { background-color: #50514F; grid-area: Jeu5; }
  .Foire-au-jeu {background-color: #50514F;
       grid-area: Foire-au-jeu; }
  .profil1 { 
      width: 240px;
             background-color: #50514F;
             grid-area: profil1; }
  .profil2 { 
      width: 240px;
      background-color: #50514F;
      grid-area: profil2; }
  .profil3 {   
      
      background-color:#50514F;
      grid-area: profil3; }
  .playermusical { 
     
      background-color:#50514F ;
      grid-area: playermusical; }
  .header {
       height: 117px ;
       background-color: #50514F;
       grid-area: header; }
  .footer {
       height: 117px;
       background-color: #50514F;
       
        }


     
