html{
    background-color: #262c2c;
}

body{
    margin: 0;
    background-image: url(../Images/BG2.png);
    background-repeat:repeat-y;
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}

/* HEADER */

.headerfont{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;    
    text-transform: uppercase;
    color: white;
}

.header_nav{ 
    z-index: 500;
    position: fixed;
    background: rgba(80, 81, 79, 1);
    display: grid;
    border-bottom: 5px solid #333;
    top: 0%;
    right: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". profil jeux logo aide a_propos coins";
    width : 100%;
    height: 80px;
} 

.profil_nav{
    display: block;
    grid-area: profil;
    align-self: center;
    justify-self: center;
}
.jeux {
    display: block;
    grid-area: jeux;
    align-self: center;
    justify-self: center;
}

.logo {
    display: block;
    grid-area: logo;
    height: 58px;
    align-self: center;
    justify-self: center;
}
.jeux:hover {
    color:#46C36C;
}
.profil_nav:hover {
    color:#46C36C;
    cursor:  pointer;
}
.a_propos_de:hover {
    color:#46C36C;
}
.aide:hover {
    color:#46C36C;
}

.a_propos_de {
    display: block;
    grid-area: a_propos;
    align-self: center;
    justify-self: center;
}
.aide { 
    display: block;
    grid-area: aide;
    align-self: center;
    justify-self: center;
}
.score {
    display: block;
    grid-area: coins;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "coin score";
    align-self: center;
    justify-self: center;

}

.coins {
    display: block;
    grid-area: coin;
    width: 20px;
    align-self: center;
    justify-self: center;
  
}

.score_gold{
    display: block;
    grid-area: score;
    align-self: center;
    justify-self: center;
}


/* MAIN */

/* PROFIL */

#profil_flex{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000000;
}


.profilpopup{
    z-index: 150;
    position: fixed;
    background-color: rgba(38, 44, 44, 0.96);
    border: 3px solid #46C36C;
    border-radius: 15px;
    width: 950px;
    height: 900px;
    display: grid;
    grid-template-rows: 0.1fr 3fr 2fr 2fr 1fr 0.5fr;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        ". . ."
        ". imageprofil ."
        ". nomprofil ."
        ". coinsprofil ."
        ". invprofil ."
        ". . .";
}

.imageprofil{
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: imageprofil;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    justify-self: center;
    align-self: center;
}
.imageprofil img{
    width: 220px;
    border: 3px solid #46C36C;
    border-radius: 15PX;
    
}
#nomProfil {
    justify-self: center;
    align-self: center;

}
.nomprofil{
    grid-area: nomprofil;
    
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(80, 81, 79, 1);
    width: 60%;
    height: 80%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 4em;
    border-radius: 15px;
    border: 3px solid #46C36C;
}

.coinsprofil{
    grid-area: coinsprofil;
    display: grid;
    width: 40%;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "coinimage montantprofil";
}
.montantprofil{
    grid-area: montantprofil;
    /* justify-self: center; */
    padding-left: 18%;
    align-self: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    
}

.coinimage{
    grid-area: coinimage;
    justify-self: center;
    align-self: center;
    width: 40px;
}

.invprofil {
    grid-area: invprofil;
    display: grid;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "text_inv"
    "inv";
}

.text_inv{
    justify-self: center;
    align-self: center;
    grid-area: text_inv;
    color: white;
    font-size: 50px;
}
.inv{
    justify-content: flex-start;
    width: 326px;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    align-self: center;
    grid-area: inv;
    overflow-y: scroll;
}
.inv img{
    width: 100px;
}
.img_inv:hover{
    border: 3px solid #46C36C;
    border-radius: 15px;
}



/* GRID MAIN */

/* Layout principal de la page*/

.gridcontainer{
    display: grid;
    grid-template-columns: auto 1200px auto;
    grid-template-rows: 150px auto auto 150px;
    gap: 0px 0px;
    grid-template-areas:
    ". . ."
    ". titre ."
    ". shop ."
    ". . .";
}

.titre{
    grid-area: titre;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: white;
    margin-bottom: 50px ;
}

.shop{
    grid-area: shop;
    background-color: grey;
    grid-template-columns: 1fr 12fr 1fr;
    grid-template-rows: 1fr 12fr 1fr;
    grid-template-areas:
        ". informations ."
        ". espace-shop ."
        ". . .";
    grid-area: shop;
    border: 3px solid #46C36C;
    border-radius: 10px;
}

.informations { 
    grid-area: informations; 
    /* border-bottom: 3px solid #46C36C; */
}

.espace-shop { 
    /* padding: 25px; */
    grid-area: espace-shop; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.carte{
    display: grid;
    margin: 28px;
    grid-template-columns: 180px;
    grid-template-rows: 200px 50px;
    gap: 5px;
    grid-template-areas:
        "image_avatar"
        "prix_avatar";
    background-color: #46C36C;
    flex: 0 1 auto;
}

.image_avatar{
    grid-area: image_avatar;
    width: 180px;
    height: 200px;
    background: #262c2c;
}

.prix_avatar{
    grid-area: prix_avatar;
    background-color: #46C36C;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr ;
    grid-template-areas: "coinshop prix";
    padding-bottom: 5px;
    

}

.coinshop{
    grid-area: coinshop;
    padding-left: 10px;
    align-self: center;

}

.prix{
    grid-area: prix;
    display: block;
    text-align: center;
    font-weight: 700;
    color: #262c2c;
    font-size: 25px;
    align-self: center;
    justify-self: center;
}

/* div hover d'achat */

.buttton_centre {
    align-self: center;
    justify-self: center;
}

.button_acheter {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}
.button_vendu {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
}
#avatarF2_achat{
    display: none;
}
#avatarH2_achat{
    display: none;
}
#avatarF3_achat{
    display: none;
}
#avatarH3_achat{
    display: none;
}
#avatarF4_achat{
    display: none;
}
#avatarH4_achat{
    display: none;
}
#avatarF5_achat{
    display: none;
}
#avatarH5_achat{
    display: none;
}
#avatarF6_achat{
    display: none;
}
#avatarH6_achat{
    display: none;
}

#avatarF2_vendu{
    display: none;
}
#avatarH2_vendu{
    display: none;
}
#avatarF3_vendu{
    display: none;
}
#avatarH3_vendu{
    display: none;
}
#avatarF4_vendu{
    display: none;
}
#avatarH4_vendu{
    display: none;
}
#avatarF5_vendu{
    display: none;
}
#avatarH5_vendu{
    display: none;
}
#avatarF6_vendu{
    display: none;
}
#avatarH6_vendu{
    display: none;
}
#avatarF2 {
    background: #262c2c ;
    background-image: url(../avatars/avatarF2.png);
    background-size: 105%;
}
#avatarH2 {
    background: #262c2c ;
    background-image: url(../avatars/avatarH2.png);
    background-size: 105%;
}
#avatarF3 {
    background: #262c2c ;
    background-image: url(../avatars/avatarF3.png);
    background-size: 105%;
}
#avatarH3 {
    background: #262c2c ;
    background-image: url(../avatars/avatarH3.png);
    background-size: 105%;
}
#avatarF4 {
    background: #262c2c ;
    background-image: url(../avatars/avatarF4.png);
    background-size: 105%;
}
#avatarH4 {
    background: #262c2c ;
    background-image: url(../avatars/avatarH4.png);
    background-size: 105%;
}
#avatarF5 {
    background: #262c2c ;
    background-image: url(../avatars/avatarF5.png);
    background-size: 105%;
}
#avatarH5 {
    background: #262c2c ;
    background-image: url(../avatars/avatarH5.png);
    background-size: 105%;
}
#avatarF6 {
    background: #262c2c ;
    background-image: url(../avatars/avatarF6.png);
    background-size: 105%;
}
#avatarH6 {
    background: #262c2c ;
    background-image: url(../avatars/avatarH6.png);
    background-size: 105%;
}

#manque_gold_flex {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000;
}
.manque_gold {
    align-content: center;
    width: 700px;
    height: 400px;
    background: #50514F;
    border: 1px solid #5FF070;
    box-sizing: border-box;
    border-radius: 15px;
    grid-area: choix_colors;
    text-align: center;
    display: grid;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 40% 40% 5%;
    grid-template-areas: 
        " . . . "
        " . manque_gold_text . "
        " . manque_gold_button . "
        " . . . ";
}
.manque_gold_titre {
    grid-area: manque_gold_text;
    align-self: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 30px;
    line-height: 25px;
    color: white;
}
#button_manque_gold {
    
    grid-area: manque_gold_button;
    align-self: center;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-weight: 10;
    font-size: 20px;
    line-height: 25px;
}


/* FOOTER */


.footer_flex{
    display: flex;
    width: 100%;
}
.footer{
    position: absolute;
    justify-self: end;
    width: 100%;
    height: 15px;
}
.footer_nav { 
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . "
    ". copyright ."
    ". droit1 ."
    ". . .";
    height: 15vh;
    width: 100%;
    
    background-color: rgba(80, 81, 79, 1);
    position: relative;
    bottom: 0px;
    left: 0px;
    text-align: center;
    justify-content: center;
    color: white;
}  



.copyright {
    grid-area: copyright;
}

.droit1 {
    grid-area: droit1;
}
