.gridgamecontainer{
    display: grid;
    width: 100%;
    height: 98vh;
    grid-template-columns: 5% 90% 5%;
    grid-template-rows: 5% 90% 5%;
    grid-template-areas: " . . . "" . jeu . "" . . . ";
}

.gamecontainer{
    grid-area: jeu;
    background-color: #272C2C;
    border-radius: 10px;
    display: grid;
    grid-template-rows: 1fr 600px 3fr;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas: 
    " colordiv colordiv titre titre titre titre . . "
    " boutons boutons encadre encadre encadre encadre template template "
    " boutons boutons infos infos infos infos template template ";
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titre{
    /* background-color: green; */
    grid-area: titre;
    margin: 0 auto;
    position: relative;
    align-self: center;
    font-size: 35px;
    color: white;
}

.boutons{
    /* background-color: grey; */
    /* min-width: 400px; */
    grid-area: boutons;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 3fr;
    gap: 0px 0px;
    grid-template-areas:
        " message message "
        " palette palette "
        /* " txtcolor txtcolor " */
        " bouton bouton "
        " pipette reset "
        " palettemanuelle palettemanuelle";
    padding: 10px;
    text-align: center;
    margin-left: 15%;
    margin-bottom: 30%;
    border: 4px solid #46C36C;
    border-radius: 15px;
    background-color: #50514f;
    height: 85%;
}

.template{
    grid-area: template;
    padding: 10px;
    text-align: center;
    margin-right: 15%;
    margin-bottom: 30%;
    border: 4px solid #46C36C;
    border-radius: 15px;
    background-color: #50514f;
    height: 85%;
}

.message{
    grid-area: message;
    justify-self: center;
    color: #46C36C;
}

.palette{
    grid-area: palette;
    justify-self: center;
    /* align-self: center; */
    max-height: 40%;
}

.colordiv{
    margin-left: 15%;
    width: 116px;
    height: 30px;
    border-radius: 10px;
    grid-area: colordiv;
    background-color: black;
    justify-self: center;
    align-self: center;
    border: 3px solid #46C36C;
}

.txtcolor{
    margin: 20px;
    width: auto;
    grid-area: txtcolor;
    justify-self: center;
    ;
}

.submitcolor{
    background-color: #46C36C;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.submitcolor:hover{
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.validcolor{
    grid-area: bouton;
    padding: 10px;
    justify-self: center;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin: 20px;
    border-radius: 15px;
    background-color: #46C36C
}

.validcolor:hover{
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}

.boutondessin{
    width: 70px;
    height: 70px;
    margin: 20px;
    /* align-self: center; */
    border-radius: 10px;
    border: 1px solid black;
}

.pipette{
    background-color: #46C36C;
    color: white;
    grid-area: pipette;
    align-self: center;
    justify-self: center;

}

.resetButton{
    background-color: #46C36C;
    color: white;
    align-self: center;
    justify-self: center;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    border: 2px solid black;
}

.resetButton:hover{
    box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.25);
}



.palettemanuelle{
    background-color: black;
    display: grid;
    grid-area: palettemanuelle;
    margin-bottom: 5%;
    height: 190px;
    justify-self: center;
    width: 80%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 1px 1px;
    grid-template-areas:
        "rouge violet rose bleu"
        "bleuclair vert verthetic jaune"
        "orange blanc gris noir";
}

.rouge { grid-area: rouge; background-color: red ;}
.violet { grid-area: violet; background-color: violet }
.rose { grid-area: rose; background-color: pink }
.bleu { grid-area: bleu; background-color: blue}
.bleuclair { grid-area: bleuclair; background-color: lightblue}
.vert { grid-area: vert; background-color: green}
.verthetic { grid-area: verthetic; background-color: #46C36C}
.jaune { grid-area: jaune; background-color: yellow}
.orange { grid-area: orange; background-color: orange}
.blanc { grid-area: blanc; background-color: white}
.gris { grid-area: gris; background-color: grey}
.noir { grid-area: noir; background-color: black}

.encadre{
    background-color: black;
    grid-area: encadre;
    justify-self: center;
    display: grid;
    width: 600px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
    grid-template-areas:
    " A1 A2 A3 A4 A5 A6 A7 A8 A9 A10 A11 A12 A13 A14 A15 A16 A17 A18 A19 A20 "
    " B1 B2 B3 B4 B5 B6 B7 B8 B9 B10 B11 B12 B13 B14 B15 B16 B17 B18 B19 B20 "
    " C1 C2 C3 C4 C5 C6 C7 C8 C9 C10 C11 C12 C13 C14 C15 C16 C17 C18 C19 C20 "
    " D1 D2 D3 D4 D5 D6 D7 D8 D9 D10 D11 D12 D13 D14 D15 D16 D17 D18 D19 D20 "
    " E1 E2 E3 E4 E5 E6 E7 E8 E9 E10 E11 E12 E13 E14 E15 E16 E17 E18 E19 E20 "
    " F1 F2 F3 F4 F5 F6 F7 F8 F9 F10 F11 F12 F13 F14 F15 F16 F17 F18 F19 F20 "
    " G1 G2 G3 G4 G5 G6 G7 G8 G9 G10 G11 G12 G13 G14 G15 G16 G17 G18 G19 G20 "
    " H1 H2 H3 H4 H5 H6 H7 H8 H9 H10 H11 H12 H13 H14 H15 H16 H17 H18 H19 H20 "
    " I1 I2 I3 I4 I5 I6 I7 I8 I9 I10 I11 I12 I13 I14 I15 I16 I17 I18 I19 I20 "
    " J1 J2 J3 J4 J5 J6 J7 J8 J9 J10 J11 J12 J13 J14 J15 J16 J17 J18 J19 J20 "
    " K1 K2 K3 K4 K5 K6 K7 K8 K9 K10 K11 K12 K13 K14 K15 K16 K17 K18 K19 K20 "
    " L1 L2 L3 L4 L5 L6 L7 L8 L9 L10 L11 L12 L13 L14 L15 L16 L17 L18 L19 L20 "
    " M1 M2 M3 M4 M5 M6 M7 M8 M9 M10 M11 M12 M13 M14 M15 M16 M17 M18 M19 M20 "
    " N1 N2 N3 N4 N5 N6 N7 N8 N9 N10 N11 N12 N13 N14 N15 N16 N17 N18 N19 N20 "
    " O1 O2 O3 O4 O5 O6 O7 O8 O9 O10 O11 O12 O13 O14 O15 O16 O17 O18 O19 O20 "
    " P1 P2 P3 P4 P5 P6 P7 P8 P9 P10 P11 P12 P13 P14 P15 P16 P17 P18 P19 P20 "
    " Q1 Q2 Q3 Q4 Q5 Q6 Q7 Q8 Q9 Q10 Q11 Q12 Q13 Q14 Q15 Q16 Q17 Q18 Q19 Q20 "
    " R1 R2 R3 R4 R5 R6 R7 R8 R9 R10 R11 R12 R13 R14 R15 R16 R17 R18 R19 R20 "
    " S1 S2 S3 S4 S5 S6 S7 S8 S9 S10 S11 S12 S13 S14 S15 S16 S17 S18 S19 S20 "
    " T1 T2 T3 T4 T5 T6 T7 T8 T9 T10 T11 T12 T13 T14 T15 T16 T17 T18 T19 T20 ";
    gap: 1px 1px;
    border: 2px solid black;
}

.cases{
    background-color: white;
    text-align: center;
}

.cases:hover{
    border: 2px solid black;
}

/* #A1{
    grid-area: A1;
} */

.informations{
    background-color: #50514f;
    grid-area: infos;
    justify-self: center;
    width: 85%;
    top: 10px;
    border: 3px solid #46C36C;
    border-radius: 15px;
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: " temp1 temp2 temp3 temp4 temp5 ";
}

.temp1{
    grid-area: temp1;
}

.temp2{
    grid-area: temp2;
}

.temp3{
    grid-area: temp3;
}

.temp4{
    grid-area: temp4;
}

.temp5{
    grid-area: temp5;
}


