html{
    background-color: #262c2c;
}

body{
    margin: 0;
    background-image: url(../Images/BG2.png);
    background-repeat:repeat-y;
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

/* .fixed-div{
     position: fixed;
     bottom: 0;
     left: 0;
     width: 100%;
} */

/* HEADER */

.headerfont{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;    
    text-transform: uppercase;
    color: white;
}

.header_nav{ 
    z-index: 500;
    position: fixed;
    background: rgba(80, 81, 79, 1);
    display: grid;
    border-bottom: 5px solid #333;
    top: 0%;
    right: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". profil jeux logo a_propos aide coins";
    width : 100%;
    height: 80px;
} 

.profil_nav{
    display: block;
    grid-area: profil;
    align-self: center;
    justify-self: center;
}
.jeuxh {
    display: block;
    grid-area: jeux;
    align-self: center;
    justify-self: center;
}

.logo {
    display: block;
    grid-area: logo;
    height: 58px;
    align-self: center;
    justify-self: center;
}

.a_propos_de {
    display: block;
    grid-area: a_propos;
    align-self: center;
    justify-self: center;
}
.aide { 
    display: block;
    grid-area: aide;
    align-self: center;
    justify-self: center;
}
.score {
    display: block;
    grid-area: coins;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "coin score";
    align-self: center;
    justify-self: center;

}

.coins {
    display: block;
    grid-area: coin;
    width: 20px;
    align-self: center;
    justify-self: center;
  
}

.score_gold{
    display: block;
    grid-area: score;
    align-self: center;
    justify-self: center;
}





/* MAIN */

#profil_flex{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000000;
}


.profilpopup{
    z-index: 150;
    position: fixed;
    top: 12%;
    left: 25%;
    right: 25%;
    background-color: rgba(38, 44, 44, 0.96);
    border: 3px solid #46C36C;
    border-radius: 15px;
    width: 950px;
    height: 750px;
    display: grid;
    grid-template-rows: 0.5fr 3fr 2fr 2fr 0.5fr;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        ". . ."
        ". imageprofil ."
        ". nomprofil ."
        ". coinsprofil ."
        ". . .";
}

.imageprofil{
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: imageprofil;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    justify-self: center;
    align-self: center;
}
.imageprofil img{
    width: 220px;
    border: 3px solid #46C36C;
    border-radius: 100%;
    
}
#nomProfil {
    justify-self: center;
    align-self: center;

}
.nomprofil{
    grid-area: nomprofil;
    
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(80, 81, 79, 1);
    width: 60%;
    height: 80%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 4em;
}

.coinsprofil{
    grid-area: coinsprofil;
    display: grid;
    width: 40%;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "coinimage montantprofil";
}

.coinimage{
    grid-area: coinimage;
    justify-self: center;
    align-self: center;
    width: 40px;
}

.montantprofil{
    grid-area: montantprofil;
    /* justify-self: center; */
    padding-left: 18%;
    align-self: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    
}

/* GRID MAIN */

.grid-container {
    display: grid;
    grid-template-columns: auto 1100px auto;
    grid-template-rows: 70px  20px 1300px  20px ;
    width : 100%;
    height:auto;
    gap: 45px 0px;
    grid-template-areas:
        ". . ."
        ". titre ."
        ". nos_jeux ."
        ". . ."
}



.titre { 
    display: block;
    grid-area: titre;
    align-self: center;
    justify-self: center;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    color: white;
}

/* NOS JEUX */



.nos_jeux { 
    display: grid;
    grid-area: nos_jeux; 
    gap: 50px 30px;
    grid-template-columns: 1fr  2fr;
    grid-template-rows: 280px 280px 280px 280px;
    grid-template-areas:
    "games rules_games"
    "games rules_games"
    "games rules_games"
    "games rules_games";
  }
  
.games { 
    display: grid;
    grid-area: games;
    row-gap: 50px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "jeux1"
    "jeux2"
    "jeux3"
    "jeux4";
  }
  
.jeux {
    background: rgba(80, 81, 79, 1);
    width: 100%;
    height: 100%;
    border : 3px solid#46C36C;
    border-radius: 10px;
    background-color:  rgba(80, 81, 79, 1);
    
  }
  
.rules_games { 
    display: grid;
    row-gap: 50px;
    grid-area: rules_games;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "rules_jeux1"
    "rules_jeux2"
    "rules_jeux3"
    "rules_jeux4";
  
  }

.rules_jeux { 
    background: rgba(80, 81, 79, 1);
    width:100%;
    height:100%;
    border : 3px solid#46C36C;
    border-radius: 10px;
    background-color:  rgba(80, 81, 79, 1);
  }

.jeux1 { 
    background-image: url(../Images/miniature_clicker.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jeux2 { 
    background-image: url(../Images/miniature_pixel.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.jeux3 { 
    background-image: url(../Images/miniature_mastermind.png);
    background-size: 100%;
    background-repeat: no-repeat;
}
  
.jeux4 { 
    background-image: url(../Images/miniature_puissance4.png);
    background-size: 100%;
    background-repeat: no-repeat;
  }

.rules_jeux { 
    display: grid;
    grid-template-columns: 0.5fr 7fr 0.5fr;
    grid-template-rows: 6px 50px 0.4fr 3fr 3fr 0.1fr;
    grid-template-areas: 
    ". . ."
    ". markr ."
    ". . ."
    ". txt ."
    ". txt ."
    ". . .";
   
  }
  
.markr{ 
    display: block;
    grid-area: markr;
    background-color:  #46C36C;
    border: 5px solid  #46C36C;
    border-radius: 15px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: bold;
    line-height: 0em;
    font-size: 23px;
    text-align: center;
    color: white;  
    width: 40%;
    justify-self: center;
   }

.txt{
  grid-area: txt;
  font-weight: 600;
  font-size: 19px;
  /* align-self: center; */
  /* border: 1px solid white; */
  font-style: normal;
  color: white;
}

/* FOOTER */

footer{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5E5; 
  }

.footer {  
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . "
    ". copyright ."
    ". droit1 ."
    ". . .";
    height: 15vh;
    width: 100%;
    
    background: rgba(80, 81, 79, 1);
    grid-area: footer; }

.copyright {
    grid-area: copyright;
}

.droit1 {
    grid-area: droit1;
}


    

