
html{
    background-color: #262c2c;
}

body{
    margin: 0;
    background-image: url(../Images/BG2.png);
    background-repeat:repeat-y;
    background-size: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a{
    text-decoration: none;
}

/* HEADER */

.headerfont{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;    
    text-transform: uppercase;
    color: white;
}

.header_nav{ 
    z-index: 500;
    position: fixed;
    background: rgba(80, 81, 79, 1);
    display: grid;
    border-bottom: 5px solid #333;
    top: 0%;
    right: 0px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: ". profil jeux logo a_propos aide coins";
    width : 100%;
    height: 80px;
} 

.profil_nav{
    display: block;
    grid-area: profil;
    align-self: center;
    justify-self: center;
}
.jeux {
    display: block;
    grid-area: jeux;
    align-self: center;
    justify-self: center;
}

.logo {
    display: block;
    grid-area: logo;
    height: 58px;
    align-self: center;
    justify-self: center;
}
.jeux:hover {
    color:#46C36C;
}
.profil_nav:hover {
    color:#46C36C;
    cursor:  pointer;
}
.a_propos_de:hover {
    color:#46C36C;
}
.aide:hover {
    color:#46C36C;
}

.a_propos_de {
    display: block;
    grid-area: a_propos;
    align-self: center;
    justify-self: center;
}
.aide { 
    display: block;
    grid-area: aide;
    align-self: center;
    justify-self: center;
}
.score {
    display: block;
    grid-area: coins;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "coin score";
    align-self: center;
    justify-self: center;

}

.coins {
    display: block;
    grid-area: coin;
    width: 20px;
    align-self: center;
    justify-self: center;
  
}

.score_gold{
    display: block;
    grid-area: score;
    align-self: center;
    justify-self: center;
}


/* MAIN */

#profil_flex{
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    z-index: 1000000;
}


.profilpopup{
    z-index: 150;
    position: fixed;
    top: 12%;
    left: 25%;
    right: 25%;
    background-color: rgba(38, 44, 44, 0.96);
    border: 3px solid #46C36C;
    border-radius: 15px;
    width: 950px;
    height: 750px;
    display: grid;
    grid-template-rows: 0.5fr 3fr 2fr 2fr 0.5fr;
    grid-template-columns: 1fr 6fr 1fr;
    grid-template-areas:
        ". . ."
        ". imageprofil ."
        ". nomprofil ."
        ". coinsprofil ."
        ". . .";
}

.imageprofil{
    display: flex;
    align-content: center;
    justify-content: center;
    grid-area: imageprofil;
    border-radius: 100%;
    width: 220px;
    height: 220px;
    justify-self: center;
    align-self: center;
}
.imageprofil img{
    width: 220px;
    border: 3px solid #46C36C;
    border-radius: 100%;
    
}
#nomProfil {
    justify-self: center;
    align-self: center;

}
.nomprofil{
    grid-area: nomprofil;
    
    padding-bottom: 10px;
    justify-self: center;
    align-self: center;
    text-align: center;
    justify-content: center;
    background-color: rgba(80, 81, 79, 1);
    width: 60%;
    height: 80%;
    font-size: 40px;
    font-weight: bold;
    color: white;
    text-align: center;
    line-height: 4em;
}

.coinsprofil{
    grid-area: coinsprofil;
    display: grid;
    width: 40%;
    justify-self: center;
    align-self: center;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr;
    grid-template-areas: "coinimage montantprofil";
}

.coinimage{
    grid-area: coinimage;
    justify-self: center;
    align-self: center;
    width: 40px;
}

.montantprofil{
    grid-area: montantprofil;
    /* justify-self: center; */
    padding-left: 18%;
    align-self: center;
    font-size: 45px;
    font-weight: bold;
    color: white;
    
}

/* GRID MAIN */

img{
    user-select: none; 
    -moz-user-select: none; 
    -ms-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none; 
    -moz-user-drag: none; 
}

.gridcontainer{
    width: 100%;
    height: 98vh;
    display: grid;
    grid-template-columns: auto 1100px auto;
    grid-template-rows: 70px 900px 5%;
    grid-template-areas: " . . . "" . interface . "" . . .";
}

.interface{
    grid-area: interface;
    /* background-color: #262c2c; */
    display: grid;
    grid-template-columns: 1fr repeat(2, 3fr) 1fr repeat(2, 3fr) 1fr;
    grid-template-rows: 1.2fr 4fr 1fr 1fr 0.2fr;
    gap: 15px 15px;
    grid-template-areas:
        " . . title-area title-area title-area . . "
        " . . game-area game-area game-area score score "
        " . . boutons boutons boutons reset reset "
        " . tour-annonce Messages Messages Messages watermark-area . "
        ". . . . . . .";
}

.boutons{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    height: 50%;
    align-self: center;
    gap: 0px 0px;
    grid-template-areas:
        "b1 b2 b3 b4 b5 b6 b7";
    grid-area: boutons;
    /* background-color: burlywood; */
}

.bouton{
    justify-self: center;
    align-self: center;
    height: 60px;
    width: 60px;
}


.b1 { 
    grid-area: b1; 
    justify-self: center;
}
.b2 { 
    grid-area: b2; 
    justify-self: center;
}

.b3 { 
    grid-area: b3;  
    justify-self: center;
}

.b4 { 
    grid-area: b4; 
    justify-self: center;
}

.b5 { 
    grid-area: b5;  
    justify-self: center;
}

.b6 { 
    grid-area: b6;  
    justify-self: center;
}

.b7 { 
    grid-area: b7;  
    justify-self: center;
}

.resetdiv{
    grid-area: reset;
    align-self: center;
    justify-self: center;
}

.message{
    text-align: center;
    color: #46c36c ;
    margin-top: 32px;
}


.game-area{
    display: grid;
    grid-area: game-area;
    grid-template-columns: 0px repeat(7, 1fr) 0px;
    grid-template-rows: 0px 1fr 1fr 1fr 1fr 1fr 1fr 0px;
    gap: 10px 10px;
    border-radius: 15px;
    grid-template-areas:
    " . . . . . . . . ."
    " . A1 A2 A3 A4 A5 A6 A7 ."
    " . B1 B2 B3 B4 B5 B6 B7 ."
    " . C1 C2 C3 C4 C5 C6 C7 ."
    " . D1 D2 D3 D4 D5 D6 D7 ."
    " . E1 E2 E3 E4 E5 E6 E7 ."
    " . F1 F2 F3 F4 F5 F6 F7 ."
        " . . . . . . . . .";

    width: 500px;
    height: 430px;
    align-self: center;
    justify-self: center;
    background-color: #46c36c;
    
}

.fond{
    background-color: #262c2c;
    border-radius: 100%;
    height: 60px ;
    width: 60px;
}

.A1 { grid-area: A1; }
.A2 { grid-area: A2; }
.A3 { grid-area: A3; }
.A4 { grid-area: A4; }
.A5 { grid-area: A5; }
.A6 { grid-area: A6; }
.A7 { grid-area: A7; }
.B1 { grid-area: B1; }
.B2 { grid-area: B2; }
.B3 { grid-area: B3; }
.B4 { grid-area: B4; }
.B5 { grid-area: B5; }
.B6 { grid-area: B6; }
.B7 { grid-area: B7; }
.C1 { grid-area: C1; }
.C2 { grid-area: C2; }
.C3 { grid-area: C3; }
.C4 { grid-area: C4; }
.C5 { grid-area: C5; }
.C6 { grid-area: C6; }
.C7 { grid-area: C7; }
.D1 { grid-area: D1; }
.D2 { grid-area: D2; }
.D3 { grid-area: D3; }
.D4 { grid-area: D4; }
.D5 { grid-area: D5; }
.D6 { grid-area: D6; }
.D7 { grid-area: D7; }
.E1 { grid-area: E1; }
.E2 { grid-area: E2; }
.E3 { grid-area: E3; }
.E4 { grid-area: E4; }
.E5 { grid-area: E5; }
.E6 { grid-area: E6; }
.E7 { grid-area: E7; }
.F1 { grid-area: F1; }
.F2 { grid-area: F2; }
.F3 { grid-area: F3; }
.F4 { grid-area: F4; }
.F5 { grid-area: F5; }
.F6 { grid-area: F6; }
.F7 { grid-area: F7; }

.title-area { 
    grid-area: title-area; 

    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas: " titre ";
}

.title{
    align-self: center;
    justify-self: center;
    text-align: center;
    grid-area: titre;
}

.scorejeu{
    grid-area: score;
    border: 3px solid #46c36c;
    background-color: #262c2c;
    border-radius: 15px;
    justify-self: center;
    width: 80%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 18% 18% 18% 18% 18%;
    gap: 0px 5px;
    grid-template-areas:
        "manches manches"
        "manche1 jeton1"
        "manche2 jeton2"
        "manche3 jeton3"
        "manche4 jeton4"
        "manche5 jeton5";
}

.manches{
    color: #46c36c;
    font-weight: bold;
    grid-area: manches;
    align-self: center;
    justify-self: center;
}

.manchet{
    color: #46c36c;
    font-weight: bold;
    align-self: center;
    justify-self: center;
}

.manche1{
    grid-area: manche1;
    display: none;
    
}

.jeton1{
    grid-area: jeton1;
    align-self: center;
    justify-self: center;
    width: 60%;
    margin-right: 30%;
}

.manche2{
    grid-area: manche2;
    display: none;
}

.jeton2{
    grid-area: jeton2;
    align-self: center;
    justify-self: center;
    align-self: center;
    justify-self: center;
    width: 60%;
    margin-right: 30%;
}

.manche3{
    grid-area: manche3;
    display: none;
}

.jeton3{
    grid-area: jeton3;
    align-self: center;
    justify-self: center;
    align-self: center;
    justify-self: center;
    width: 60%;
    margin-right: 30%;
}

.manche4{
    grid-area: manche4;
    display: none;
}

.jeton4{
    grid-area: jeton4;
    align-self: center;
    justify-self: center;
    align-self: center;
    justify-self: center;
    width: 60%;
    margin-right: 30%;
}

.manche5{
    grid-area: manche5;
    display: none;
}

.jeton5{
    grid-area: jeton5;
    align-self: center;
    justify-self: center;
    align-self: center;
    justify-self: center;
    width: 60%;
    margin-right: 30%;
}
.watermark { 
    grid-area: watermark-area; 

    width: 100%;
    height: auto;
    align-self: center;
    margin-left: 60px;
}

.watermarkimg{
    width: 180px;
}

.tour-annonce { 
    grid-area: tour-annonce; 
    background-color: #262c2c;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "jeton manche" "jeton numero";
    align-self: center;
    width: 100%;
    height: auto;
    border: 3px solid #46c36c;
    border-radius: 75px 15px 15px 75px;
}

.manche{
    grid-area: manche;
    align-self: center;
    justify-self: center;
    font-size: 20px;
    color: #46c36c;
    font-weight: bold;
    margin-top: 5%;
}

.numero{
    grid-area: numero;
    align-self: center;
    justify-self: center;
    font-size: 35px;
    color: #46c36c;
    font-weight: bold;
    margin-bottom: 5%;
}

.tourannonce{
    width: 99%;
    margin: 5px;
    grid-area: jeton;
}

.messages { 
    grid-area: Messages; 
    background-color: #262c2c;
    width: 100%;
    height: auto;
    border: 3px solid #46c36c;
    border-radius: 15px;
}

/* FOOTER */

footer{
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
    color: #E5E5E5; 
}

.footer_nav {  
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". . . "
    ". copyright ."
    ". droit1 ."
    ". . .";
    height: 15vh;
    width: 100%;
    
    background-color: rgba(80, 81, 79, 1);
    position: relative;
    bottom: 0px;
    left: 0px;

}    

.copyright {
    grid-area: copyright;
}

.droit1 {
    grid-area: droit1;
}
